
@import 'blk';

body {
  margin: 0;
  padding: 1em 1.5em;
  min-height: 100vh;
  color: #fff;
  background-color: var(--blue);
}

.avenir {
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1;
}


.input {
  box-sizing: border-box;
  height: 2em;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  margin: 0;
  padding: .5em .5em;
  vertical-align: middle;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-appearance: none;
}

.input-light {
  background-color: color(#fff a(.25));
  /*
  border-color: color(#000 a(.25));
  */
}

.input-light:focus {
  outline: 5px solid var(--darken-2);
}

.btn-dark {
  background-color: color(#000 a(.25));
  border-color: color(#000 a(.5));
}


#carbonads {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.25;
  text-align: left;
  text-transform: none;

  padding: .5em;
  background-color: color(#fff a(.9));
}

#tweet-button {
  margin-top: 1em;
}

@media (min-width: 32em) {
  #carbonads {
    position: fixed;
    right: 0;
    bottom: 0;
    max-width: 320px;
    margin: .5em;
  }
  #tweet-button {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: .5em;
  }
}

#carbonads a,
#carbonads a:hover {
  color: #222;
  text-decoration: none;
  background: none;
}
#carbonads span { display: block }
#carbonads > span::before,
#carbonads > span::after {
  content: '';
  display: table;
}
#carbonads > span::after {
  clear: both;
}
.carbon-img {
  float: left;
  margin-right: .5em;
}
.carbon-img > img { display: block }
.carbon-text { overflow: hidden }
.carbon-poweredby {
  float: left;
  margin-top: .25em;
  opacity: 0.75;
}


/*
@import 'gravitons';
@import 'flex-object';
*/

:root {
}

